.custom-btn{
    background:#6a0dad;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
    font-size:15px;
}

.custom-btn:hover{
    background:#520b9b;
}

@media(max-width:768px){
.custom-btn{
width:100%;
}
}