.page-container{
    padding:30px;
}

.page-container h1{
    color:#6a0dad;
    margin-bottom:15px;
}

.page-container p{
    color:#666;
}

@media(max-width:768px){
.page-container{
padding:20px;
}
}