.layout{
    display:flex;
    min-height:100vh;
    background:#f5f7fb;
}

.layout-content{
    flex:1;
    margin-left:270px;
    display:flex;
    flex-direction:column;
}

.page-content{
    padding:30px;
    min-height:calc(100vh - 70px);
}

@media(max-width:992px){

.layout-content{

margin-left:0;

}

}