.navbar{

height:70px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.navbar-left{

display:flex;

align-items:center;

gap:20px;

}

.menu-btn{

border:none;

background:none;

font-size:22px;

cursor:pointer;

}

.search-box{

width:350px;

display:flex;

align-items:center;

background:#f3f4f6;

padding:10px 15px;

border-radius:12px;

}

.search-box input{

border:none;

outline:none;

background:transparent;

margin-left:10px;

width:100%;

}

.navbar-right{

display:flex;

align-items:center;

gap:25px;

}

.notification{

position:relative;

font-size:20px;

cursor:pointer;

}

.badge{

position:absolute;

top:-8px;

right:-8px;

background:red;

color:white;

width:18px;

height:18px;

font-size:11px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

}

.profile{

display:flex;

align-items:center;

gap:12px;

cursor:pointer;

}

.profile-icon{

font-size:40px;

color:#4f46e5;

}