.sidebar{

position:fixed;

left:0;

top:0;

width:270px;

height:100vh;

background:#111827;

color:white;

padding:25px;

overflow:auto;

transition:.3s;

}

.sidebar-logo{

font-size:26px;

font-weight:bold;

margin-bottom:35px;

}

.sidebar-menu{

display:flex;

flex-direction:column;

gap:8px;

}

.sidebar-menu li{

list-style:none;

}

.sidebar-menu a{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

border-radius:12px;

color:white;

text-decoration:none;

transition:.3s;

}

.sidebar-menu a:hover{

background:#4f46e5;

}

.sidebar-menu a.active{

background:#4f46e5;

}

@media(max-width:992px){

.sidebar{

transform:translateX(-100%);

}

.sidebar.show{

transform:translateX(0);

}

}